.container {
    display: flex;
    flex-wrap: wrap; /* Allows the boxes to wrap to the next line */
    justify-content: center; /* Centers the boxes horizontally */
    gap: 15px; /* Adds space between the boxes */
    margin-top: 20px;
}

.box {
    width: 750px; /* Default width for desktop */
    height: 750px;
    text-align: center;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.50);
    background: rgba(255, 255, 255, 0.050);
}

/* Media query for smaller screens (phones) */
@media (max-width: 768px) {
    .box {
        width: 100%; /* Full width for smaller screens */
        height: auto; /* Adjust height automatically */
    }
}

.minibox1 {
    width: auto;
    height: auto;
    text-align: center;
    padding-bottom: 20px;
    border-radius: 20px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.50);
}

.minibox2 {
    width: auto;
    height: auto;
    text-align: center;
    border-radius: 20px;
    border-top: 2px solid rgba(255, 255, 255, 0.50);
}

.bigbox {
    width: auto;
    height: auto;
    text-align: center;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.50);
    background: rgba(255, 255, 255, 0.050);
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.bigbox img {
    width: 100%; /* Makes the image take up the full width of its container */
    max-width: 1300px; /* Ensures the image doesn't exceed its original size */
    height: auto; /* Maintains the aspect ratio */
}

h2 {
    font-size: 30px;
    margin: 10px;
}

#com {
    font-size: 45px;
    text-align: center;
    margin: 0px;
    border: 2px solid rgba(255, 255, 255, 0.50);
    background: rgba(255, 255, 255, 0.050);
    border-radius: 25px;
    margin-top: 5px;
    margin-right: 150px;
    margin-left: 150px;
    width: auto;
}

p {
    padding-right: 50px;
    padding-left: 50px;
    text-align: justify;
    font-size: 25px;
}

#pics1 {
    padding: 10px;
}

#pics1 img {
    width: 125px;
    height: auto;
}

#pics2 {
    padding: 10px;
}

#img1 {
    width: 125px;
    height: auto;
}

#img2 {
    width: 250px;
    height: auto;
}

#pics3 img {
    width: 125px;
    height: auto;
}

source {
    padding: 0%;
    margin: 0%;
}

@media (max-width: 768px) {
    .timeline-item {
        padding: 10px;
    }
}